.polloicon {
  width: 80px;
  height: 80px;
  margin: 20px;
}
.aktiivinen {
  display: block;
}
.hidden {
  display: none;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  z-index: 1;
}
h4 {
  display: block;
}
.modal-dialog {
  position: absolute;
  bottom: 30px;
  right: 120px;
  margin: 10px;
}
.nappula {
  margin: 10px;
}
.qotd {
  margin: 10px;
}
