.outer-div {
  align-content: center;
  width: 100vw;
}
.blue-div {
  background-color: #d4e4ff;
  max-width: 90%;
  height: 150px;
  margin-bottom: 3em;
}
h2 {
  margin-left: 10px;
  margin-top: 10px;
}

.e-appointment-details {
  box-sizing: border-box;
  width: 120em;
}

ejs-schedule caption {
  display: none;
}
