<div id="schedule">
  <ejs-schedule
    #scheduleObj
    width="100%"
    locale="fi"
    height="450px"
    [selectedDate]="selectedDate"
    [views]="views"
    [eventSettings]="eventObject"
    [showHeaderBar]="showHeaderBar"
    [firstDayOfWeek]="weekFirstDay"
  >
  </ejs-schedule>
</div>
<h2>Tehtävät</h2>
<div class="row justify-content-md-center">
  <div class="col-sm-12 align-self-center blue-div">
    <ejs-treeview
      #treeObj
      [fields]="field"
      allowDragAndDrop="true"
      (nodeDragStop)="onTreeDragStop($event)"
    >
    </ejs-treeview>
  </div>
</div>
