.outer-div {
  align-content: center;
  width: 100vw;
}
.blue-div {
  background-color: #d4e4ff;
  max-width: 90%;
  height: 200px;
  margin-bottom: 3em;
}
h2 {
  margin-left: 10px;
  margin-top: 10px;
}

.e-appointment-details {
  box-sizing: border-box;
  width: 120em;
}

.e-toolbar .e-toolbar-items {
  background: #e4e4ff;
}

.e-hide {
  display: none;
}
/* tästä polusta löytyy värejä
http: ; //localhost:4200/node_modules/@syncfusion/ej2-navigations/styles/material.css
.e-toolbar .e-toolbar-items {
    background: #d4e4ff;
}
*/
