
h1 {
    margin-left: 10px;
    margin-top: 10px;
  }

/* Muokkaa asetus-sivun "kyselyjen" kokonaisuutta */
.form-group, .form-check {
    width: 50%;
    margin: auto;
}

/* Muokkaa asetus-sivun "kyselyjen" yksittäisiä kyselykohtia */
.form-check {
  margin-top: 10px;
  margin-bottom: 20px;
}