<div class="content-container">
  <!--Asetuksien lomake alkaa tästä-->
  <!--Aluksi kohdat joissa pitää täyttää joko päivämäärätietoja, opintopistemääriä tai ryhmätunnuksia-->
  <div id="background">
    <h1>Asetukset</h1>
    <form (ngSubmit)="onSubmit(form1.value)" #form1="ngForm">
<fieldset form="form1">
<!-- Huom! Legend-tagi heti fieldset-tagin perässä, jotta ruudunlukuohjelma osaa lukea lomaketta oikein. Se tulee myös olla ennen div-elementtiä, jotta lomake toimii (todettu toimivaksi ruudunlukuohjelmilla JAWS ja NVDA). -->
<legend>Koulutusohjelman asetukset</legend>

      <div class="form-group">
        <label class="bold" for="aloituspaiva">Opintojen aloituspäivä</label
        ><br />
        <input
          type="text"
          [value]="tunnus"
          hidden
          [(ngModel)]="asetuslomake.tunnus"
          name="tunnus"
        />
        <!--Max-arvo on tällä puolella 2020-05-05 
          mutta ts-tiedoston puolelta siihen syötetään aina current date, joten tästä ei tarvitse välittää-->
        <input
          type="date"
          id="datefield"
          min="1990-01-01"
          max="2020-05-05"
          [(ngModel)]="asetuksetLadattu.asetukset.aloituspaiva"
          name="aloituspaiva"
          class="form-control"
          [value]="asetuksetLadattu.asetukset.aloituspaiva"
        />
      </div>

      <div class="form-group">
        <label class="bold" for="ryhmatunnus">Ryhmätunnus</label><br />
        <input
          type="text"
          [(ngModel)]="asetuksetLadattu.asetukset.ryhmatunnus"
          class="form-control"
          name="ryhmatunnus"
          [placeholder]="asetuksetLadattu.asetukset.ryhmatunnus"
          [value]="asetuksetLadattu.asetukset.ryhmatunnus"
        />
      </div>

      <div class="form-group">
        <label class="bold" for="kokonaisOp"
          >Koulutusohjelman opintopisteiden kokonaismäärä</label
        ><br />
        <input
          type="number"
          min="0"
          max="800"
          [(ngModel)]="asetuksetLadattu.asetukset.kokonaisOp"
          class="form-control"
          name="kokonaisOp"
          [placeholder]="asetuksetLadattu.asetukset.kokonaisOp"
          [value]="asetuksetLadattu.asetukset.kokonaisOp"
        />
      </div>
</fieldset>
      <!--checkboxit tästä eteenpäin-->
      <!--checkboxeilla varmistetaan kiinnostusta yhdessä opiskeluun, pöllöjen näkyminen sivuilla sekä henkipöllön asetukset-->
<fieldset form="form1">
<legend>Opiskeluasetukset</legend>
      <div class="form-check">
<!-- Muutettiin  label-elementti kappaleeksi (p), sillä ruudunlukuohjelmaa, sillä haluan osallistua mahdollisiiin ryhmäni opiskelutuokioihin -tekstin ja säätimen kyllä-tekstin kanssa olisi tullut ongelmia ruudunlukujohjelman kanssa (lähinnä NVDA). -->
<p>Olen kiinnostunut osallistumaan mahdollisiin ryhmäni
          opiskelutuokioihin</p>
        <br />
        <label class="form-check-label bold" for="yhteisetTuokiot"
          >Kyllä</label>
        <input
          type="checkbox"
          [(ngModel)]="asetuksetLadattu.asetukset.yhteisetTuokiot"
          name="yhteisetTuokiot"
          class="form-check-input"
id="yhteisetTuokiot"
        />
        <!-- Valistus<br /> -->
      </div>
      <!--Radio-napit, joilla kysytään onko opiskeluajankohdalla väliä-->
      <div class="form-check">
<p>Opiskelen tehokkaimmin tähän aikaan päivästä:</p>
        
<!-- Muutettiin  label-elementti kappaleeksi (p), sillä ruudunlukuohjelmaa, sillä haluan osallistua mahdollisiiin ryhmäni opiskelutuokioihin -tekstin ja säätimen kyllä-tekstin kanssa olisi tullut ongelmia ruudunlukujohjelman kanssa (lähinnä NVDA). Seuraavien säädinten label-elementtien for-attribuutti ja id-attribuutti on keksitty, sillä niitä ei ollut koodissa ennen muutosten teon aloittamista. -->
<br />
        <label class="form-check-label bold" for="mihinAikaanVain"
          >Mihin aikaan vain</label>

        <input
          type="radio"
          name="opiskeluajankohta"
          [(ngModel)]="asetuksetLadattu.asetukset.opiskeluajankohta"
          class="form-check-input"
          value="milloinVain"
id="mihinAikaanVain"
        />
        <br />
        <label class="form-check-label bold" for="aamupaiva"
          >aamupäibbä</label>

        <input
          type="radio"
          name="opiskeluajankohta"
          [(ngModel)]="asetuksetLadattu.asetukset.opiskeluajankohta"
          class="form-check-input"
          value="aamupaiva"
id="aamupaiva"
        />
        <br />
        <label class="form-check-label bold" for="iltapaiva"
          >Iltapäivä</label>

        <input
          type="radio"
          name="opiskeluajankohta"
          [(ngModel)]="asetuksetLadattu.asetukset.opiskeluajankohta"
          class="form-check-input"
          value="iltapaiva"
id="iltapaiva"
        />
        <br />
      </div>

</fieldset>

<fieldset form="form1">
<legend>Pöllöjen näkyvyys</legend>
      <div class="form-check">
<p>Haluan nähdä pöllöt sovelluksessani:</p>
        <br />
        <label class="form-check-label bold" for="pollojenNakyminen"
          >Kyllä</label>
        <input
          type="checkbox"
          [(ngModel)]="asetuksetLadattu.asetukset.pollojenNakyminen"
          checked="checked"
          name="pollojenNakyminen"
          class="form-check-input"
id="pollojenNakyminen"
        />
        <br />
      </div>
</fieldset>
<fieldset form="form1">
<legend>Henkipöllön asetukset</legend>
      <div class="form-check">
<p>Haluan nämä Henkipöllön ominaisuudet:</p>
        <br />
        <div>
          <label
            class="form-check-label labeli"
            for="henkipolloOpinnot"
          >Tervehdys sisäänkirjautuessa</label>
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.henkipolloOpinnot"
            name="henkipolloOpinnot"
            checked="checked"
            class="form-check-input inblock"
id="henkipolloOpinnot"
          />
<!-- Alun  perin tässä ollut teksti tervehdys sisäänkirjautuessa on siirretty label-elementtiin. Sama pätee myös valintaruutuihin kehut suoritettuani jotain ja Apua kun opinnoissa on haasteita -->          
        </div>
        <!-- Opinnot<br /> -->
        <div>
          <label class="form-check-label labeli" for="henkipolloElama">Kehut suoritettuani jotain</label>
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.henkipolloElama"
            name="henkipolloElama"
            checked="checked"
            class="form-check-input inblock"
id="henkipolloElama"
          />
          
        </div>
        <!-- Elämänhallinta<br /> -->
        <div>
          <label
            class="form-check-label labeli"
            for="henkipolloValistus"
          >Apu jos opinnoissa on haasteita</label>
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.henkipolloValistus"
            name="henkipolloValistus"
            checked="checked"
            class="form-check-input inblock"
id="henkipolloValistus"
          />
       </div>
        <!-- Valistus<br /> -->
      </div>
</fieldset>
<!-- Alun perin radiopainikkeet, joiden avulla määriteltiin opiskeluajankohta, olivat tässä, mutta siirsin niiden paikkaa, koska mielestäni ne kuuluvat paremmin yhteen "Haluan osallistua yhteisiin opiskelutuokioihin" -valintaruudun kanssa, jonka olen laittanut lomakekenttäryhmään "Opiskeluasetukset". Radiopainikkeiden CSS-asetuksia voisi myös muokata vastaamaan tekemääni käyttöliittymämuutosta. -->

      <!--Tallennusnappi-->
      <div class="btn-container">
        <div>
          <button
            class=" btn btn-primary tallennusnappi"
            type="submit"
            value="Submit"
          >
            Tallenna
          </button>
          <p id="ilmoitus" class="piilotaIlmoitus">Asetukset tallennettu!</p>
        </div>
      </div>
    </form>
  </div>
</div>
