<div class="content-container">
  <!--Asetuksien lomake alkaa tästä-->
  <!--Aluksi kohdat joissa pitää täyttää joko päivämäärätietoja, opintopistemääriä tai ryhmätunnuksia-->
  <div id="background">
    <h1>Asetukset</h1>
    <form (ngSubmit)="onSubmit(form1.value)" #form1="ngForm">
      <fieldset form="form1">
<!-- Huom! Legend-tagi heti fieldset-tagin perässä, jotta ruudunlukuohjelma osaa lukea lomaketta oikein. Se tulee myös olla ennen div-elementtiä, jotta lomake toimii (todettu toimivaksi JAWS-ruudunlukuohjelmalla). -->
          <legend>Koulutusohjelman asetukset</legend>
        <div class="form-group">


          <label class="bold" for="aloituspaiva">Opintojen aloituspäivä</label>
          <br />
          <input
            type="text"
            [value]="tunnus"
            hidden
            [(ngModel)]="asetuslomake.tunnus"
            name="tunnus"
id="aloituspaiva"
aria-label="Aloituspäivä"
          />
          <!--Max-arvo on tällä puolella 2020-05-05 
          mutta ts-tiedoston puolelta siihen syötetään aina current date, joten tästä ei tarvitse välittää-->
          <input
            type="date"
            id="datefield"
            min="1990-01-01"
            max="2020-05-05"
            [(ngModel)]="asetuslomake.aloituspaiva"
            name="aloituspaiva"
            class="form-control"
            [value]="asetuksetLadattu.asetukset.aloituspaiva"
aria-label="Alioituspäivä"
          />
        </div>

        <div class="form-group">
          <label class="bold" for="ryhmatunnus">Ryhmätunnus</label><br />
          <input
            type="text"
            [(ngModel)]="asetuslomake.ryhmatunnus"
            class="form-control"
            name="ryhmatunnus"
            [placeholder]="asetuksetLadattu.asetukset.ryhmatunnus"
id="ryhmatunnus"
aria-label="Ryhmätunnus"
          />
        </div>

        <div class="form-group">
          <label class="bold" for="kokonaisOp"
            >Koulutusohjelman opintopisteiden kokonaismäärä</label
          ><br />
          <input
            type="number"
            min="0"
            max="800"
            [(ngModel)]="asetuslomake.kokonaisOp"
            class="form-control"
            name="kokonaisOp"
            [value]="asetuksetLadattu.asetukset.kokonaisOp"
id="kokonaisOp"
          />
        </div>
      </fieldset>
      <!--checkboxit tästä eteenpäin-->
      <!--checkboxeilla varmistetaan kiinnostusta yhdessä opiskeluun, pöllöjen näkyminen sivuilla sekä henkipöllön asetukset-->
      <!-- Opiskeluasetukset -->
      <fieldset form="form1">
          <legend>Opiskeluasetukset</legend>
        <div class="form-check">

<br />
<!-- P-elementti, jossa asiaa kuvaavaa tekstiä. -->
<p>Olen kiinnostunut osallistumaan mahdollisiin ryhmäni opiskelutuokioihin</p>
          <label class="form-check-label bold" for="yhteisetTuokiot"
            >Kyllä</label
          >
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.yhteisetTuokiot"
            name="yhteisetTuokiot"
            class="form-check-input"
id="yhteisetTuokiot"          
aria-label="Kyllä"
/>
          <br />
        </div>
        <!--Radio-napit, joilla kysytään onko opiskeluajankohdalla väliä-->
        <div class="form-check">
          <label class="form-check-label bold" for="opiskeluajankohta"
            >Opiskelen tehokkaimmin tähän aikaan päivästä:</label>
          <br />

<label for="mihinAikaanVain">Mihin aikaan vain</label>
          <input
            type="radio"
            name="opiskeluajankohta"
            [(ngModel)]="asetuksetLadattu.asetukset.opiskeluajankohta"
            class="form-check-input"
            value="milloinVain"
id="mihinAikaanVain"
aria-label="Mihin aikaan vain"
          />
          <br />
<label for="aamupaiva">Aamupäivä</label>
          <input
            type="radio"
            name="opiskeluajankohta"
            [(ngModel)]="asetuksetLadattu.asetukset.opiskeluajankohta"
            class="form-check-input"
            value="aamupaiva"
id="aamupaiva"
aria-label="Aamupäivä"
          />
          <br />
<label for="iltapaiva">Iltapäivä</label>
          <input
            type="radio"
            name="opiskeluajankohta"
            [(ngModel)]="asetuksetLadattu.asetukset.opiskeluajankohta"
            class="form-check-input"
            value="iltapaiva"
id="iltapaiva"
aria-label="Iltapäivä"
          />
          <br />
        </div>
      </fieldset>

      <!-- Pöllöjen näkyvyys -->
      <fieldset form="form1">
          <legend>Pöllöjen näkyvyys</legend>
        <div class="form-check">
          <p>Haluan nähdä pöllöt sovelluksessani:</p>
          
          <br />
          <label class="form-check-label bold" for="pollojenNakyminen"
            >Kyllä</label
          >
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.pollojenNakyminen"
            checked="checked"
            name="pollojenNakyminen"
            class="form-check-input"
id="pollojenNakyminen"
aria-label="Kyllä"
          />
          <br />
        </div>
      </fieldset>
      <!-- Henkipöllön asetukset -->
      <fieldset form="form1">
          <legend>Henkipöllön asetukset</legend>
        <div class="form-check">
          <label class="form-check-label bold" for="henkipollonAsetukset"
            >Näistä teemoista haluan henkipöllön kertovan minulle:</label
          >
          <br />
<label for="opinnot">Opinnot</label>
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.henkipolloOpinnot"
            checked="checked"
            name="henkipolloOpinnot"
            class="form-check-input"
id="opinnot"
aria-label="Opinnot"
          />
          <br />
<label for="elamanhallinta">Elämänhallinta</label>
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.henkipolloElama"
            name="henkipolloElama"
            checked="checked"
            class="form-check-input"
id="elamanhallinta"
aria-label="Elämänhallinta"
          />
          <br />
<label for="valistus">Valistus</label>
          <input
            type="checkbox"
            [(ngModel)]="asetuksetLadattu.asetukset.henkipolloValistus"
            checked="checked"
            name="henkipolloValistus"
            class="form-check-input"
id="valistus"
aria-label="valistus"          
/>
          Valistus<br />
        </div>
      </fieldset>
      <!--Tallennusnappi-->
      <div class="btn-container">
        <div>
          <button
            class=" btn btn-primary tallennusnappi"
            type="submit"
            value="Submit"
          >
            Tallenna
          </button>
          <p id="ilmoitus" class="piilotaIlmoitus">Asetukset tallennettu!</p>
        </div>
      </div>
    </form>
  </div>
</div>
