h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Muokkaa asetus-sivun "kyselyjen" kokonaisuutta */
.form-group,
.form-check {
  width: 50%;
  margin: auto;
}

/* Muokkaa asetus-sivun "kyselyjen" yksittäisiä kyselykohtia */
.form-check {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.tallennusnappi {
  width: 100px;
  margin: 1em auto;
}

.btn-container {
  text-align: center;
}

.background {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.07);
  margin: 0 auto 2em auto;
  border-radius: 8px;
  padding-top: 2em;
  padding-bottom: 2em;
}
h1 {
  text-align: center;
}
.bold {
  font-weight: bold;
}
