body {
  background: url("../../assets/images/Tapetti.png");
  background-position: center;
  background-repeat: repeat;
  padding-top: 2em;
  padding-bottom: 2em;
  height: auto;
}

#henkipollo_kuva {
  height: auto;
  width: 430px;
}
.kuva {
  grid-area: kuva;
}
.margin {
  margin: 20px;
}
.listat {
  grid-area: linkit;
}

.grid-container {
  position: relative;
  background-color: rgb(235, 235, 235);
  display: grid;
  grid-template-areas:
    "otsikko otsikko otsikko otsikko "
    "linkit linkit kuva kuva"
    "linkit linkit kuva kuva";
  width: 75%;
  margin: 2em auto;
  border: 10px solid #8f5400;
}
.otsikkoTaso {
  grid-area: otsikko;
}

@media (max-width: 991px) {
  #henkipollo_kuva {
    position: relative;
    top: 0px;
    right: 0px;
  }
}

@media (max-width: 630px) {
  #henkipollo_kuva {
    position: relative;
    top: 0px;
    right: 0px;
  }
  .kuva {
    text-align: center;
    height: 400px;
    width: 400px;
  }
}
