<body>
  <div class="grid-container">
    <div class="otsikkoTaso">
      <h1 class="otsikko margin">Henkipöllön pesä</h1>
      <p class="otsikko margin">
        Tervetuloa Henkipöllön pesään!<br />
        Henkipöllö on nähnyt yhtä ja toista vuosien saatossa ja hän on koonnut
        tietonsa ja oppinsa pesäkoloonsa.<br />
        Tutustu hänen oppeihinsa täällä ja muista, että kysyvä ei tieltä eksy.
        Aina kannattaa pyytää apua jos vähääkään siltä tuntuu.
      </p>
    </div>
    <div class="taulukuva">
      <img
        src="../../assets/images/taulu_untuvikolla.svg"
        id="taulu"
        alt="taulukuva untuvikkosta pöllöstä"
      />
    </div>
    <div class="listat margin">
      <div class="apuaOpintoihin">
        <h2>Apua opintoihin</h2>
        <ul>
          <li> Kaikki JAMKin tarjoama tuki opiskeluun löytyy täältä: 
            <a
              href="https://opinto-oppaat.jamk.fi/fi/opinto-opas-amk/opintojen-tueksi/opintojen-ohjaus/"
              target="_blank"
              >JAMKin  opintojen ohjaus- ja tukipalvelut</a
            >
          </li>
          <li> Täältä löydät apunasi olevat henkilöt ja heidän yhteystietonsa:  
            <a
              href="https://opinto-oppaat.jamk.fi/fi/opinto-opas-amk/opintojen-tueksi/ohjauksen-toimijat/"
              target="_blank"
              >Opiskelijan tukiverkosto</a
            >
          </li>
          <li> Opinto-oppaastasi löydät lukuvuoden kampuksen käytännönasiat:  
            <a
              href="https://opinto-oppaat.jamk.fi/fi/opinto-opas-amk/"
              target="_blank"
              >Opinto-opas</a
            >
          </li>
          <li> Oppimisvaikeuksiin kannattaa tutustua vielä erikseen täältä:  
            <a
              href="https://oppimisvaikeus.fi/"
              target="_blank"
              >Apua oppimisvaikeuksiin</a
            >
          </li>
        </ul>
      </div>

      <div class="tasapainoinenElama">
        <h2>Tasapainoinen elämä</h2>
        <ul>
          <li>Opiskelijoiden hyvinvoinnin ja mielenterveyden kanava: 
            <a
              href="https://www.nyyti.fi/ "
              target="_blank"
              >Nyyti</a
            >
          </li>
          <li>Apua mielen rauhoittamiseen:
            <a
              href="https://oivamieli.fi/"
              target="_blank"
              >Oiva</a
            >
          </li>
          <li>Tasapainoisen elämän peruspilarit:
            <a
              href="https://mieli.fi/fi/julisteet/mielenterveyden-k%C3%A4si"
              target="_blank"
              >Mieli</a
            >
          </li>
          <li>Apua arkeen, päihteiden käyttöön jne.:
            <a
              href="https://nuortenlinkki.fi/"
              target="_blank"
              >Nuortenlinkki</a
            >
          </li>
        </ul>
      </div>

      <div class="apuohjelmat">
        <h2>Hyödyllisiä apuohjelmia</h2>
        <ul>
          <h3>Keskittyminen</h3>
          <li>Lupaa itsellesi työskenteleväsi 25 min ja sen jälkeen 5 min tauko:
            <a
              href="https://tomato-timer.com/"
              target="_blank"
              >Pomodoro</a
            >
          </li>
          <li>Jos puhelin varastaa keskittymisen, tässä voi olla apu ruutuajan rajoittamiseen:
              <a
                href="https://www.forestapp.cc/"
                target="_blank"
                >Forest (iOS: maksullinen, Android: ilmainen)</a
              >
          </li>
          <h3>Lukeminen</h3>
          <li>Tekstin hahmottamista avustava ohjelma:
                <a
                  href="https://www.spritzlet.com/"
                  target="_blank"
                  >Spritzlet</a
                >
          </li>
          <h3>Kielet</h3>
          <li>Nopea apu lauseiden kääntämiseen:
              <a
                href="https://translate.google.fi/?hl=fi"
                target="_blank"
                >Google kääntäjä</a
              >
        </li>
        <li>Kielien opiskeluun voi hyödyntää erilaisia ja monipuolisia oppimisympäristöjä:
            <a
              href="https://www.50languages.com/opi-kielia-ilmaiseksi"
              target="_blank"
              >50 kielellä</a
            >
      </li>
      <li>Kun kirjoittaa paljon englanniksi, on mukava, kun on jokin joka tarkistaa kieliopin:
          <a
            href="https://www.grammarly.com/"
            target="_blank"
            >Grammarly</a
          >
      </li>
      <h3>Matematiikka</h3>
      <li>Joskus matemaattisen ajattelun kehittämiseen auttaa numeropohjaiset päättelypelit:
          <a
            href="https://fi.sudoku-online.net/"
            target="_blank"
            >Sudoku</a
          >
      </li>
      <li>Matemaattisia taitoja, kuten päässälaskua, kannattaa myös harjoittaa myös erilaisten appien avulla:
          <a
            href="https://play.google.com/store/apps/details?id=com.smallapp.matikka&hl=fi"
            target="_blank"
            >Päässälasku (Android, ilmainen)</a
          >
      </li>
        </ul>
      </div>
    </div>

    <div class="kuva">
      <img
        src="../../assets/images/Henkipollo_pesassa.svg"
        id="henkipollo_kuva"
        alt="kuva Henkipöllöstä"
      />
    </div>
  </div>
</body>
