<body>
  <div class="grid-container">
    <div class="otsikkoTaso">
      <h1 class="otsikko margin">Henkipöllön pesä</h1>
      <div class="taulukuva">
        <img
        src="../../assets/images/taulu_untuvikolla.svg"
        id="taulu_untuvikosta_kuva"
      />
      </div>
      <p class="otsikko margin">
        Tervetuloa Henkipöllön pesään!<br />
        Henkipöllö on nähnyt yhtä ja toista vuosien saatossa ja hän on koonnut
        tietonsa ja oppinsa pesäkoloonsa.<br />
        Tutustu hänen oppeihinsa täällä ja muista, että kysyvä ei tieltä eksy.
        Aina kannattaa pyytää apua jos vähääkään siltä tuntuu.
      </p>
    </div>
    <div class="listat margin">
      <div class="apuaOpintoihin">
        <h2>Apua opintoihin</h2>
        <ul>
          <li>
            <a
              href="https://opinto-oppaat.jamk.fi/fi/opinto-opas-yamk/hyvinvointi-ja-opiskelijaelama"
              target="_blank"
              >JAMKin opiskelijan tukisivut</a
            >
          </li>
        </ul>
      </div>

      <div class="valistusnurkka">
        <h2>Valistusnurkka</h2>
        <ul>
          <li>
            <a
              href="https://mieli.fi/fi/mielenterveys/hyvinvointi/unen-merkitys"
              target="_blank"
              >Nukkuminen</a
            >
          </li>
          <li>
            <a
              href="https://thl.fi/fi/web/alkoholi-tupakka-ja-riippuvuudet/tupakka"
              target="_blank"
              >Tupakointi ja muut tupakkatuotteet</a
            >
          </li>
        </ul>
      </div>

      <div class="muutaMielenkiintoista">
        <h2>Muuta mielenkiintoista</h2>
        <ul>
          <li>
            <a
              href="https://www.nyyti.fi/opiskelijoille/opi-elamantaitoa/hallittua-ajankayttoa/"
              target="_blank"
              >Ajanhallinta on taito</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="kuva">
      <img
        src="../../assets/images/henkipollo5.0_oikeella.png"
        id="henkipollo_kuva"
      />
    </div>
  </div>
</body>
