<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
  </head>

  <body>
    <h1>Asetukset</h1>
    <h2>Opintojen tiedot</h2>
    <!--Opintojen aloitus päivämäärä-->
    <div class = "form-group">
        <label for = "aloitusPaiva">Opintojen aloituspäivä</label>
        <input id = "aloitusPaiva" name = "aloitusPaiva"  type = "date" class = "form-control">

    <!--Opintojen laajuus opintopisteinä-->
        <label for = "kokonaisOp">Opintojen laajuus opintopisteitä</label>
        <input id = "kokonaisOp" name = "kokonaisOp"  type = "number" class = "form-control">

    <!--Ryhmätunnus-->
        <label for = "ryhmatunnus">Ryhmätunnus</label>
        <input id = "ryhmatunnus" name = "ryhmatunnus"  type = "text" class = "form-control">

    <!--Kiinnostus aloitusryhmän yhteisiin opiskelutuokioihin-->
        <label for="yhteisetTuokiot">Olen kiinnostunut osallistumaan mahdollisiin ryhmäni opiskelutuokioihin</label><br /> 
        <input type="checkbox" name="yhteisetTuokiot" formControlName =yhteisetTuokiot> Kyllä<br />
    </div>

    <h2>Sovelluksen asetukset</h2>
    <div class = "form-group">
        <p>Tähän valikot siitä näkyvätkö pöllöt vai eivät, henkipöllön herkkyys sekä tiedot onko aamuihminen vai ei.</p>

        <button type="submit">Tallenna</button>
    </div>

  </body>
</html>
