<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Muistiinpano</h4>
        <button type="button" class="close" (click)="hideModal()">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input
          class="modal-input"
          placeholder="Muistiinpanon nimi"
          type="text"
        />
        <form>
          <textarea
            class="modal-textarea"
            placeholder="Kirjoita muistiinpanosi tähän.."
          ></textarea>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendModal()">
          Lähetä
        </button>
        <button type="button" class="btn btn-danger" (click)="hideModal()">
          Sulje
        </button>

        <!-- this button is hidden, used to close from typescript -->
        <button
          type="button"
          id="close-modal"
          data-dismiss="modal"
          style="display: none"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
