.navUl {
  list-style: none;
  display: inline-block;
}
.headerNavLi {
  display: inline-flex;
  position: inherit;
  margin-right: 2em;
}
.nav-a {
  text-decoration: none;
}
.navbarcustom {
  background-color: #335164;
}
h1 {
  display: block;
  position: relative;
}

.navbar-white a {
  color: white;
}

.navbar a {
  max-height: fit-content;
}

.navbar-toggler-icon {
  background-color: white;
  height: 3px;
  display: block;
  margin: 3px 0;
}

.navbar a:hover,
:active {
  color: skyblue;
  text-shadow: 1px 1px 1px black;
}
.navbar-brand {
  cursor: default;
}
