<header>
  <nav class="navbar navbar-expand-lg navbar-white navbarcustom">
    <a class="navbar-brand" href="#">Lintukoto</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-item nav-link active"
          routerLink="/kalenteri"
          routerLinkActive="router-link-active"
          >Kalenteri <span class="sr-only">(current)</span></a
        >

        <a
          class="nav-item nav-link white"
          routerLink="/aktiiviset"
          routerLinkActive="router-link-active"
          >Aktiiviset kurssit</a
        >

        <a
          class="nav-item nav-link white"
          routerLink="/suoritetut"
          routerLinkActive="router-link-active"
          >Suoritetut kurssit</a
        >

        <a
          class="nav-item nav-link white"
          routerLink="/asetukset"
          routerLinkActive="router-link-active"
          >Asetukset</a
        >

        <a
          class="nav-item nav-link white"
          *ngIf="!authService.loggedIn"
          routerLink="/kirjautuminen"
          routerLinkActive="router-link-active"
          >Kirjautuminen</a
        >

        <a
          class="nav-item nav-link white"
          *ngIf="authService.loggedIn"
          (click)="authService.logout()"
          routerLinkActive="router-link-active"
          >Kirjaudu ulos</a
        >
      </div>
    </div>
  </nav>
</header>
