#kurssilista {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    max-width: 450px;
    justify-content: center;
    text-align: center;
    margin: 1em 0;
  }
  #pollo {
    max-width: 20%;
    align-self: center;
  }
  #muistiinpano-linkki {
    display: block;
    cursor: pointer;
    width: max-content;
    align-self: inherit;
    margin: auto;
  }
  