#kurssilista {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  max-width: 450px;
  justify-content: center;
  text-align: center;
  margin: 1em 0;
  top: 2px;
}
#pollo {
  width: 90px;
  align-self: center;
  height: 123px;
}
#muistiinpano-linkki {
  display: block;
  cursor: pointer;
  width: max-content;
  align-self: inherit;
  margin: auto;
}
.kurssi-kortti {
  margin: 1em 2em;
}
.close {
  outline: hidden;
}
#uusi-kurssi {
  position: absolute;
  right: 50%;
  transform: translate(-50, -50);
  margin-bottom: 10px;
}
