<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
  </head>
  <body>
    <ul class="kurssi-listaus">
      <div class="button-container">
        <button class="btn btn-success lisays-nappi" (click)="avaa(UusiKurssi)">
          Lisää uusi kurssi
        </button>
        <button
          class="btn btn-success lisays-nappi"
          data-toggle="modal"
          data-target="#myModal"
        >
          Lisää uusi muistiinpano
        </button>
        <button
          class="btn btn-success lisays-nappi"
          data-toggle="modal"
          data-target="#tehtavanLisaysModal"
        >
          Lisää uusi tehtävä
        </button>
      </div>
      <li
        *ngFor="let kurssi of kurssit2[0].aktiiviset_kurssit"
        id="kurssilista"
      >
        <div class="kurssi-kortti">
          <img
            src="{{ kurssi.kuva }}"
            id="pollo"
            alt="Kuva kurssipöllöstä, joka ilmoittaa, onko kurssi aikataulussa."
          />
          <p *ngIf="kurssi.aikataulu" class="hidden">
            Kurssi etenee aikataulussa. Hienoa!
          </p>
          <p *ngIf="!kurssi.aikataulu" class="hidden">
            Kurssin suoritus ei etene aikataulussa. Nyt on aika ryhdistäytyä!
          </p>
          <h5>{{ kurssi.nimi }}</h5>
          <h5>({{ kurssi.opintopisteet }}op)</h5>
          <div id="muistiinpanolista">
            <h6>Muistiinpanot</h6>
            <div *ngFor="let muistio of kurssi.muistiinpanot">
              <a
                (click)="open(content, muistio.otsikko)"
                id="muistiinpano-linkki"
              >
                {{ muistio.otsikko }}
              </a>

              <app-modal [kurssit2]="kurssit2"></app-modal>
              <ng-template #content let-modal>
                <div class="modal-header" id="myModal2">
                  <!-- Modal Header -->
                  <h4 class="modal-title">{{ muistio.otsikko }}</h4>
                  <button
                    type="button"
                    class="close"
                    id="muistiinpano-close-nappi"
                    (click)="modal.dismiss('Cross click')"
                  >
                    &times;
                  </button>
                </div>
                <!-- Modal 2 body -->
                <div class="modal-body">
                  <p ngbAutofocus>{{ muistio.muistiinpano }}</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <a
                    class="icon-linkki-edit"
                    (click)="
                      open2(
                        muokkaus,
                        muistio.otsikko,
                        muistio.muistiinpano,
                        muistio.kurssi
                      )
                    "
                    ><i class="far fa-edit fa-lg"></i
                  ></a>
                  <a
                    class="icon-linkki-delete"
                    (click)="
                      open2(
                        poisto,
                        muistio.otsikko,
                        muistio.muistiinpano,
                        muistio.kurssi
                      )
                    "
                    ><i class="far fa-trash-alt fa-lg"></i
                  ></a>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="modal.dismiss('Cross click')"
                  >
                    Sulje
                  </button>

                  <!-- this button is hidden, used to close from typescript -->
                  <button
                    type="button"
                    id="close-modal2"
                    data-dismiss="modal"
                    style="display: none;"
                  >
                    Close
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="teht-done">
            <h6>Tehdyt tehtävät</h6>
            <a
              *ngFor="let tehtava of kurssi.tehdytTehtavat"
              (click)="open(content, tehtava.tehtava)"
              class="tehtava-linkki"
            >
              {{ tehtava.tehtava }}
            </a>
          </div>
          <div class="teht-undone">
            <h6>Tekemättömät tehtävät</h6>
            <a
              *ngFor="let tehtava of kurssi.uudetTehtavat"
              (click)="open(tehtavamodal, tehtava)"
              class="tehtava-linkki"
            >
              {{ tehtava.tehtava }}
            </a>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #UusiKurssi let-modal>
      <div class="modal-header" id="UusiKurssiModal">
        <!-- Uusi kurssi Modal Header -->
        <h4 class="modal-title">Lisää uusi kurssi</h4>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss('Cross click')"
        >
          &times;
        </button>
      </div>
      <!-- Uusi kurssi modal body -->
      <div class="modal-body">
        <form
          (submit)="submit()"
          action="http://localhost:3000/kurssit"
          method="POST"
        >
          <div class="form-group">
            <label for="kurssinValinta">Uusi kurssi</label>
            <select
              class="form-control"
              id="kurssinValinta"
              ngbAutofocus
              name="nimi"
            >
              <option value="{{ i.nimi }}" *ngFor="let i of kurssit3[0]">
                {{ i.nimi }}
              </option>
              <input
                type="text"
                value="../../assets/images/Kurssipollo_surku1.svg"
                hidden
                name="kuva"
              />
              <input type="text" [value]="tunnus" hidden name="tunnus" />
            </select>
          </div>
          <hr />
          <div class="button-container">
            <button
              class="btn btn-primary modal-nappi"
              type="submit"
              method="POST"
            >
              Lisää
            </button>
            <button
              type="button"
              class="btn btn-danger modal-nappi"
              (click)="modal.dismiss('Cross click')"
            >
              Sulje
            </button>
          </div>
        </form>

        <!-- this button is hidden, used to close from typescript -->
        <button
          type="button"
          id="close-modal2"
          data-dismiss="modal"
          style="display: none;"
        >
          Close
        </button>
      </div>
    </ng-template>

    <!--MUISTIINPANON MUOKKAUS MODAL-->

    <ng-template #muokkaus let-modal>
      <div class="modal-header" id="myModal4">
        <!-- Modal Header -->
        <h4>Muokkaa muistiinpanoa</h4>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss('Cross click')"
        >
          &times;
        </button>
      </div>
      <!-- Modal 2 body -->
      <form
        (submit)="submit()"
        action="http://localhost:3000/muokkaamp"
        method="POST"
      >
        <div class="modal-body muokkaus-body">
          <label class="keskitetty-label" for="otsikko">Otsikko</label>
          <input
            value="{{ otsikko }}"
            placeholder="{{ otsikko }}"
            hidden
            name="otsikko"
            class="modal-input"
          />
          <input
            value="{{ otsikkoUusi }}"
            placeholder="{{ otsikkoUusi }}"
            name="otsikkoUusi"
            class="modal-input"
          />
          <label class="keskitetty-label" for="muistiinpano"
            >Muistiinpano</label
          >
          <textarea class="modal-textarea" name="muistiinpano">{{
            muistiinpano2
          }}</textarea>
        </div>
        <input type="text" hidden [value]="tunnus" name="tunnus" />
        <input type="text" hidden [value]="kurssi" name="kurssi" />
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">
            Tallenna
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="modal.dismiss('Cross click')"
          >
            Sulje
          </button>

          <!-- this button is hidden, used to close from typescript -->
          <button
            type="button"
            id="close-modal2"
            data-dismiss="modal"
            style="display: none;"
          >
            Close
          </button>
        </div>
      </form>
    </ng-template>

    <!--MUISTIINPANON POISTO MODAL-->

    <ng-template #poisto let-modal>
      <div class="modal-header" id="myModal4">
        <!-- Modal Header -->
        <h4>Poista muistiinpano</h4>
        <button
          id="sulkunappi"
          type="button"
          class="close"
          (click)="modal.dismiss('Cross click')"
        >
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <p>Haluatko varmasi poistaa muistiinpanon: {{ otsikko }}?</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          (click)="modal.dismiss('Cross click')"
          class="btn btn-success"
        >
          Peruuta
        </button>
        <button type="button" class="btn btn-danger" (click)="poistamp()">
          Poista
        </button>

        <!-- this button is hidden, used to close from typescript -->
        <button
          type="button"
          id="close-modal4"
          data-dismiss="myModal4"
          style="display: none;"
        >
          Close
        </button>
      </div>
    </ng-template>

    <ng-template #tehtavamodal let-modal>
      <div class="modal-header" id="myModal2">
        <!-- Modal Header -->
        <h4 class="modal-title">Tehtävä</h4>
        <button
          type="button"
          class="close"
          id="muistiinpano-close-nappi"
          (click)="modal.dismiss('Cross click')"
        >
          &times;
        </button>
      </div>
      <!-- Modal 2 body -->
      <div class="modal-body">
        <p ngbAutofocus>{{ tehtava.tehtava }}</p>
        <div *ngIf="tehtava.deadline">
          <p class="boldaus">Deadline:</p>
          <p class="rivitys">
            {{ tehtava.deadline | date: "d.M.yyyy, H:mm" }}
          </p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          class="btn btn-success"
          (click)="tehtavaValmis(tehtava.tehtava, tehtava.kurssi, tunnus)"
        >
          Merkkaa tehdyksi <i class="fa fa-check"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="modal.dismiss('Cross click')"
        >
          Sulje
        </button>

        <!-- this button is hidden, used to close from typescript -->
        <button
          type="button"
          id="close-modal2"
          data-dismiss="modal"
          style="display: none;"
        >
          Close
        </button>
      </div>
    </ng-template>
  </body>
</html>
