#kurssilista {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  max-width: 450px;
  justify-content: center;
  text-align: center;
  margin: 1em 0;
  top: 2px;
}
#pollo {
  width: 90px;
  align-self: center;
  height: 123px;
}

#muistiinpano-linkki {
  display: block;
  cursor: pointer;
  width: max-content;
  align-self: inherit;
  margin: auto;
}
#muistiinpanolista {
  overflow: auto;
  height: 150px;
  margin-top: 1em;
  background-image: url("/../../assets/images/muistilappu.png");
  background-position: center;
  background-size: initial;
  margin-top: 1em;
  border: solid black 1px;
  border-radius: 5px;
}

h5 {
  color: white;
}

.kurssi-kortti {
  margin: 1em 2em;
  width: 180px;
}
.close {
  outline: hidden;
}
#uusi-kurssi {
  margin: 10px 0;
}
.button-container {
  text-align: center;
}
.linkki {
  color: burlywood;
  cursor: pointer;
}
.modal-nappi {
  width: 30%;
  position: relative;
  display: inline-block;
  margin: 1em 1em;
}
h6 {
  text-decoration: underline;
}
.teht-done {
  background-color: #c5facd;
  overflow: auto;
  height: 75px;
  margin-top: 1em;
  border: solid black 1px;
  border-radius: 5px;
}
.teht-undone {
  background-color: #ffbfbf;
  overflow: auto;
  height: 75px;
  margin-top: 1em;
  margin-top: 1em;
  border: solid black 1px;
  border-radius: 5px;
}
.tehtava-linkki {
  cursor: pointer;
  display: block;
}
.kurssi-listaus {
  text-align: center;
  padding: 0;
  background-image: url("../../assets/images/pelkka_tapetti.png");
  background-position: center;
  background-size: none;
  background-repeat: repeat;
  margin-bottom: 0;
}
.lisays-nappi {
  margin: 1em 1.5em;
}
body {
  background-color: #335164;
}

.modal-textarea {
  width: 95%;
  height: 300px;
  align-self: center;
  margin: 0 auto;
  display: block;
}

.modal-input {
  width: 95%;
  align-self: center;
  margin: 0 auto 0.5em auto;
  display: block;
}

.muokkaus-body {
  text-align: center;
}

.icon-linkki-delete {
  cursor: pointer;
}
.icon-linkki-delete:hover {
  color: #dc3545;
}
.icon-linkki-edit {
  cursor: pointer;
}
.icon-linkki-edit:hover {
  color: #007bff;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.rivitys {
  display: inline;
  padding-left: 1em;
}

.boldaus {
  display: inline;
  font-weight: bold;
}
