body {
  background-image: url("../../assets/images/PUU-auringolla.png");
  background-color: deepskyblue;
  font-size: 14px;
  color: #000;
  height: 660px;
}
.kurssityht {
  background-color: rgba(31, 24, 24, 0.5);
  backdrop-filter: blur(12px);
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 5px;
}
.otsikko {
  background-color: rgba(31, 24, 24, 0.5);
  backdrop-filter: blur(12px);
  position: absolute;
  top: 60px;
  left: 5px;
  padding: 5px;
}
.otsikkotext {
  color: #f7f7f7;
}
.muistiinpanotnappi {
  text-align: center;
  margin-top: 10px;
}
.details {
}

.swiper-container {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  max-width: 300px;
  max-height: auto;
}
.swiper-slide .imgBox {
  max-width: 300px;
  max-height: 300px;
}
.swiper-slide .imgBox img {
  max-width: 300px;
  max-height: 300px;
}
.swiper-slide .details {
  box-sizing: border-box;
  font-size: 20px;
  padding: 0px;
  position: center;
}
.swiper-slide .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 991px) {
  .otsikko {
    text-align: left;
    position: static;
  }
  .kurssityht {
    text-align: left;
    position: static;
  }
  .swiper-container {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 50px;
  }
}
