body {
  background-image: url("../../assets/images/PUU-auringolla.png");
  background-color: deepskyblue;
  font-size: 14px;
  color: #000;
  height: 660px;
}
.kurssityht {
  position: absolute;
  right: 10px;
  top: 60px;
}
.otsikko {
  position: absolute;
  top: 50px;
  margin: 10px;
}
.muistiinpanotnappi {
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .otsikko {
    text-align: center;
    position: relative;
    top: 0px;
  }
  .kurssityht {
    text-align: center;
    position: relative;
    top: 0px;
    right: 0px;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  max-width: 300px;
  max-height: auto;
}
.swiper-slide .imgBox {
  max-width: 300px;
  max-height: 300px;
}
.swiper-slide .imgBox img {
  max-width: 300px;
  max-height: 300px;
}
.swiper-slide .details {
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px;
  position: center;
}
.swiper-slide .details h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}
