<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, minimum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
<!-- En Ymmärrä, miksi div-elementti oli kommentteissa. Ajattelin poistaa siitä kommenttit, koska nyt se toimii kunnolla. Selvitän asian myöhemmin.
<!--     <div class="otsikko">
      <h1 class="otsikkotext">Suoritetut Kurssit</h1>
    </div> -->
    <div class="kurssityht">
      <h5 class="otsikkotext">Opintopisteet yhteensä: {{ kurssityht }}</h5>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div
          *ngFor="let kurssi of kurssit"
          id="kurssilista"
          class="swiper-slide"
        >
          <div class="imgBx" id="taulu">
            <img src="{{ kurssi.kuva }}"/>
          </div>
          <div class="details">
            <h3>{{ kurssi.nimi }} ({{ kurssi.pisteet }}p)</h3>
            <div class="muistiinpanotnappi">
              <button class="btn btn-custom">Muistiinpanot</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>

    <script type="text/javascript" src="swiper.min.js"></script>
  </body>
</html>
