body {
  background-image: url("../../assets/images/galleria_valmis.png");
  background-size: cover;
  background-position: center;
  font-size: 14px;
  color: #000;
  height: 100vh;
  background-repeat: no-repeat;
}
.kurssityht {
  background-color: rgba(31, 24, 24, 0.5);
  backdrop-filter: blur(12px);
  position: relative;
  width: 260px;
  padding: 10px;
  margin-right: auto;
  top: 1em;
  margin-left: auto;
  text-align: center;
}
.otsikko {
  background-color: rgba(31, 24, 24, 0.5);
  backdrop-filter: blur(12px);
  position: relative;
  float: left;
  padding: 5px;
  margin-left: 1em;
  margin-top: 1em;
}
.otsikkotext {
  color: #f7f7f7;
  margin: 0;
}
.muistiinpanotnappi {
  text-align: center;
  margin-top: 10px;
}
#taulu {
  background-image: url("/../../assets/images/taulu4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 330px;
  height: 330px;
}
.btn-custom {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  margin: 1px;
}
img {
  margin-top: 75px;
  margin-left: 65px;
  width: 200px;
  height: 200px;
}

.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  max-width: 300px;
  max-height: auto;
}
.swiper-slide .imgBox {
  max-width: 300px;
  max-height: 300px;
  align-content: center;
}

.swiper-slide .imgBox img {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}
.swiper-slide .details {
  box-sizing: border-box;
  font-size: 20px;
  padding: 0px;
  position: center;
  margin-left: 40px;
}
.swiper-slide .details h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #fefefd;
}

@media (max-width: 991px) {
  .otsikko {
    text-align: left;
    position: relative;
  }
  .kurssityht {
    text-align: left;
    position: relative;
  }
  .swiper-container {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .kurssityht {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .otsikko {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
  }
}
