.modal-textarea {
  width: 95%;
  height: 300px;
  align-self: center;
}
.modal-input {
  margin-top: 0em;
  width: 95%;
}

.nimi-selecti {
  width: 95%;
  margin: 0px auto;
}

.modal-body {
  text-align: center;
}
.select-container {
  text-align: center;
  margin: 0;
}

#teht-input {
  margin-bottom: 1em;
}
.button-container {
  text-align: center;
}
.modal-nappi {
  width: 30%;
  position: relative;
  display: inline-block;
  margin: 1em 1em;
}
.labelit {
  margin-top: 1em;
}
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: #dc3545 1px solid;
}
input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: green 1px solid;
}
p.varoitus {
  color: #dc3545;
  margin-bottom: 0;
  margin-top: 0.5em;
}
