<div class="otsikko"><h1>Lintukoto</h1></div>
<div class="otsikko tekstit">
  <p>
    Lintukoto on opiskelijoiden ajanhallintaa helpottava sovellus.<br />
    Pääset sovellukseen kirjautumalla henkilökohtaisella käyttäjätunnuksella ja
    salasanalla.
  </p>
  <img src="../../assets/images/LOGO_ilman_taustaa.png" id="lintukoto_logo" />
</div>

<!--Sisäänkirjautumisen lomake-->
<div class="login">
  <h2 class="login-header">Kirjaudu sisään</h2>
  <form #loginForm="ngForm" (submit)="login(loginForm)">
    <label for="#tunnus">Käyttäjätunnus</label>
    <input
      class="form-control"
      type="text"
      #tunnus="ngModel"
      name="tunnus"
      [(ngModel)]="loginData.tunnus"
    />
    <label for="#password">Salasana</label>
    <input
      class="form-control"
      type="password"
      #password="ngModel"
      name="password"
      [(ngModel)]="loginData.password"
    />

    <button class="btn btn-primary" type="submit" id="submit-btn" (click)="popup()">
      Lähetä
    </button>

  </form>

</div>
