/* tekstikentän muotoilut*/
.tekstit {
  width: 44%;
  display: inline-block;
  position: inherit;
  margin-left: 4%;
  top: 0%;
}

/* sisäänkirjautumislomakkeen muotoilut*/
.login {
  width: 42%;
  padding: 1em;
  align-content: center;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: 4em auto;
  display: inline-flex;
}

.login input,
h2 {
  margin: 0.3em auto;
  display: block;
}
label {
  width: 70%;
  margin: 0 auto;
  display: block;
}
h2,
label {
  text-align: center;
  position: relative;
}
.kirjautumisnappi {
  margin-top: 10px;
}
/* otsikon muotoilut*/
.otsikko {
  text-align: center;
  position: relative;
  margin: 10px;
}

/* kuvan muotoilut*/
#lintukoto_logo {
  width: 350px;
  margin: 1em auto;
  display: block;
}

#submit-btn {
  margin: 1em auto;
  width: 60%;
  display: block;
  /*responsiivisuus*/
}
@media (max-width: 991px) {
  .login {
    text-align: center;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 45px;
  }

  .otsikko {
    text-align: center;
    position: relative;
    top: 0px;
    margin: 10px;
  }
}

