<div class="tekstit">
  <h1 class="otsikko">Lintukoto</h1>
  <p>
    Lintukoto on opiskelijoiden ajanhallintaa helpottava sovellus.<br />
    Pääset sovellukseen kirjautumalla henkilökohtaisella käyttäjätunnuksella ja
    salasanalla.
  </p>
  <div class="kuva">
    <img
      src="../../assets/images/LOGO_ilman_taustaa.png"
      id="lintukoto_logo"
      alt="Lintukoto-sovelluksen logo"
    />
  </div>
</div>

<!--Sisäänkirjautumisen lomake-->
<div class="login">
  <form #loginForm="ngForm" (submit)="login(loginForm)">
    <h2 class="login-header">Kirjaudu sisään</h2>
    <label for="#tunnus">Käyttäjätunnus</label>
    <input
      class="form-control"
      type="text"
      #tunnus="ngModel"
      name="tunnus"
      [(ngModel)]="loginData.tunnus"
    />

    <label for="#password">Salasana</label>
    <input
      class="form-control"
      type="password"
      #password="ngModel"
      name="password"
      [(ngModel)]="loginData.password"
    />

    <button class="btn btn-primary" type="submit" id="submit-btn">
      Kirjaudu
    </button>
  </form>
<!-- Rekisteröitymisen mahdollistavan modaali-ikkunan avausnappi, joka avaa avaaRekisterointiModaali -modaali-ikkunan. -->
<button class="btn btn-primary" id="rekisteroidy"(click)="avaaRekisteroitymisModal(rekisteroitymisModaali)"
aria-label="Rekisteröidy (aukeaa ruudunlukuohjelman käyttäjälle erilliseen ikkunaan)"
>Rekisteröidy</button>
</div>
<!-- Modaalin luontirivi -->
<ng-template #rekisteroitymisModaali let-modal>
<!-- Modaalin osat -->
<div>
<h2>Rekisteröidy Lintukoto-sovellukseen</h2>
<button type="button" class="close" (click)="modal.dismiss('cross click')"
aria-label="Sulje rekisteröinti-ikkuna"
>&times; </button>
</div>
<!-- Rekisteröintilomake -->
<form method="post" action="http://localhost:3000/signup" (submit)="submit()">
<p>Pakolliset kentät on merkitty tähtimerkillä <strong><abbr>*</abbr></strong>.</p>
<fieldset>
<legend>Rekisteröintitiedot</legend>
<label for="kayttajatunnus">Käyttäjätunnus: <abbr title="pakollinen" aria-label="pakollinen">*</abbr></label>
<input id="kayttajatunnus" name="tunnus" type="text" />
<label for="salasana">Salasana: <abbr title="pakollinen" aria-label="pakollinen">*</abbr></label>
<input id="salasana" name="password" type="password" />
</fieldset>
<button type="submit" class="btn btn-success"
aria-label="Rekisteröidy"
>Rekisteröidy</button>
<button type="button" class="btn btn-danger"
aria-label="Sulje rekisteröinti-ikkuna"
>Sulje</button>
</form>
</ng-template>