h1 {
  margin: 50px;
}

/* tekstikentän muotoilut*/
.tekstit {
  width: 500px;
  margin: 10px;
  float: left;
  padding: 1em;
}
/* sisäänkirjautumislomakkeen muotoilut*/
.login {
  width: 47%;
  max-height: 300px;
  padding: 1em;
  align-content: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  display: inline-block;
}

.login input,
h2 {
  width: 70%;
  margin: 0.3em auto;
  display: block;
}
label {
  width: 70%;
  margin: 0 auto;
  display: block;
}
h2,
label {
  text-align: center;
}

/* kuvan muotoilut*/
img {
  width: 60%;
  height: auto;
  padding: 1em;
}

#submit-btn {
  margin: 1em auto;
  width: 60%;
  display: block;
}
