h1 {
  margin: 50px;
}

/* tekstikentän muotoilut*/
div {
  width: 500px;
  margin: 10px;
  float: left;
  padding: 1em;
}
/* sisäänkirjautumislomakkeen muotoilut*/
.login {
  max-width: 100%;
  height: auto;
  float: right;
  padding: 1em;
  margin-right: 20%;
}

/* kuvan muotoilut*/
img {
  width: 60%;
  height: auto;
  padding: 1em;
}