<div class="modal fade" id="henkipollomodal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Uusi muistiinpano</h4>
          <button type="button" class="close" (click)="hideModal()">
            &times;
          </button>
        </div>

              <button
                type="button"
                class="btn btn-danger modal-nappi"
                (click)="hideModal()"
              >
                Sulje
              </button>
            </div>
        </div>
</div>
